numpy 
pandas

# face recognition
scikit-learn

# for facial recognition
dlib-bin 

setuptools<70.0.0
git+https://github.com/ageitgey/face_recognition_models


# for dataset
supabase  

# for hashing     
bcrypt   
# for QR code
segno  
# Image preprocessing
pillow  

# for UI
streamlit  



